"""@package mits.commons
Constants for setting up the testing environment
All paths except for the last one (OUTPUT_PATH)
are located on the virtual machine.
MEDUSA_PATH - Path to the linux-medusa kernel sources
CONSTABLE_PATH - Path to the Constable folder, where Constable binary is located
VM_MTE_PATH - Testing scripts for the virtual machine will
              be copied and also executed from here.
TESTING_PATH - Testing files will be created in this directory.
               All commands set up in the config module
               will also be executed here.
VM_NAME - Name of the virtual machine with Medusa
USER_NAME - Linux username
USER_PASSWORD - User password
VM_IP - IP adress of the virtual machine (for the SSH connection)
VM_PORT - Port of the ssh server on the virtual machine (or port on a forwarded IP)
NO_GRUB - If true, it compiles the kernel without waiting for the debugger
OUTPUT_PATH - Folder where to put testing outputs (on local machine)
"""
MEDUSA_PATH = '<path/to/medusa/dir>'
CONSTABLE_PATH = '<path/to/constable>'
VM_MTE_PATH = '<path/to/scripts/destination>'
TESTING_PATH = '<path/to/testing/dir>'
VM_NAME = '<computer-name>'
USER_NAME = '<username>'
USER_PASSWORD = '<password>'
VM_IP = '127.0.0.1'
VM_PORT = 3022
NO_GRUB = True
OUTPUT_PATH = '<path/to/host/machine/output/dir>'
